body, html {
    margin: 0;
    padding: 0;
}

body {
background-color: #232323;
color: #FAFAFA;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    font-size: 1.25rem;
    background-color: #232323;
}

#candydiv {
    background-image: url("images/candy.png");  /* Icon made by https://www.freepik.com  from https://www.flaticon.com */
    background-size: cover;
    height: 3em;
    width: 3em;
}

#navlist {
    list-style: none;
    display: flex;
    width: 25em;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

a:hover, #candydiv:hover {
    cursor: pointer;
    text-decoration: underline;
}

#homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#h1div {
    font-size: 2rem;
}

#homecontainer button {
    background-color: transparent;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
    padding: .45em .40em;
    margin: 0 0.4em;
    color: #FAFAFA;
    font-size: 1.25rem;
   
}

#homecontainer button:hover {
    cursor: pointer;
}

/* END Home stylings 
   BEGIN About stylings */ 

#aboutcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    font-size: 1.25rem;
}

#aboutcontainer h2 {
    font-size: 2.5rem;
    text-align: center;
}

#abouttextwrapper {
    max-width: 40em;
    flex: 1;
}

#skillswrapper {
    max-width: 30em;
    flex: 1;
}

#skillswrapper h2 {
    text-align: left;
}

/* END About stylings 
   BEGIN Projects stylings */

#projectscontainer {
    display: flex; 
    flex-direction: column;
    
    min-height: 100vh;
    font-size: 1.25rem;
}

#projectscontainer h2 {
    font-size: 2.5rem;
    margin: 1.55em auto;
}

#projectscardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectcard {
    /* border: 2px solid #FAFAFA; */
    text-align: center;
    height: 20em;
    width: 30em;
    margin: 2em;
}

.projectpreview {
    border: 2px dashed darkred;
    height: 70%;
    width: 65%;
    margin: auto;
}

#tictactoepreview {
    background-image: url("./images/tictactoepreview.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    
}